@import '~bootstrap/scss/bootstrap';

h1 {
  width: 100%;
  text-align: center;
}

.svg-inline--fa.icon-size, .big-checkbox {width: 20px; height: 20px;}
.head-center tr th {
  vertical-align: middle;
}

.checkobox_groups {
  color: #0d6efd;
  display: flex;
  justify-content: space-between;
  box-sizing: content-box;
  padding: 0 20px;
  margin-right: 10px;
}